<launch>
	
	<!-- launch the bag file recording -->
	<!-- modify the file for different experiments -->

    <node
        pkg = 'ballOnPlatePkg'
        type = 'servos.py'
        name = 'servos'
        output ='screen'
    ></node>

    <node
        pkg = 'ballOnPlatePkg'
        type = 'touchscreen.py'
        name = 'touchScreen'
        output = 'screen'
    ></node>

    <node
        pkg = 'ballOnPlatePkg'
        type = 'PID.py'
        name = 'PID'
        output = 'screen'
    ></node>

    <node 
        pkg = 'ballOnPlatePkg'
        type = 'PIDNengo.py'
        name = 'PIDNengo'
        output = 'screen'
    ></node>


</launch>
