<launch>
	
	<!-- launch the bag file recording -->
	<!-- modify the file for different experiments -->

    <node
        pkg = 'ballOnPlatePkg'
        type = 'servos.py'
        name = 'servos'
        output ='screen'
    ></node>

    <node
        pkg = 'ballOnPlatePkg'
        type = 'touchScreen.py'
        name = 'touchScreen'
        output = 'screen'
    ></node>

    <!---   
    <node
        pkg = 'ballOnPlatePkg'
        type = 'controller.py'
        name = 'controller'
        output = 'screen'
    ></node>
    -->


    <node 
        pkg = 'ballOnPlatePkg'
        type = 'controller.py'
        name = 'controller'
        output = 'screen'
    ></node>



    <node
        pkg = 'ballOnPlatePkg'
        type = 'PID.py'
        name = 'PID'
        output = 'screen'
    ></node>


</launch>
